<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>SCEL: Cadastrar Usuario</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<body>
	<nav class="navbar navbar-dark">
			<img th:src="@{/img/NavCPS.png}"/>
			<img th:src="@{/img/NavFatec.png}"/>
			<img th:src="@{/img/NavGoverno.png}"/>
		</nav>


	<div class="container my-5">
		<div class="col-md-5 mx-auto borderSCEL p-3">
		<h3 style="color: white; text-align: center;">Cadastrar Usuario</h3>
		<br/>	
		<div class="colSCEL p-3">
			<form action="#" th:action="@{/usuarios/save}"th:object="${usuario}" method="post">
						
				<label for="ra" class="col-form-label">RA</label> 
				<input type="text" th:field="*{ra}" class="form-control" id="ra"placeholder="RA"> 
				<span th:if="${#fields.hasErrors('ra')}" th:errors="*{ra}"class="textdanger"> </span>
						
				<label for="nome" class="col-form-label">Nome</label>		
				<input type="text" th:field="*{nome}" class="form-control" id="nome" placeholder="Nome"> 
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"class="text-danger"> </span>
						
				<label for="email" class="col-form-label">E-mail</label>				 
				<input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>				
				
				<br/>
							
				<input type="submit" class="btn btn-success" value="Cadastrar Usuário"> 
				<a type="submit" class="btn btn-primary float-sm-right" th:href="@{/home/}">Home</a>
								
			</form>
		</div>
	</div>
	<h6 th:text="${message}" class="text-danger"></h6>
</div>
<div class="card-footer">Todos os direitos reservados - 2020</div>
</body>
</html>