<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>SCEL: Lista de Empréstimos</title>
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h2 class="panel-title">Lista de empréstimos</h2>
		</div>
		<div class="panel-body" th:switch="${emprestimos}">
			<h2 th:case="null">Não existem empréstimos cadastrados ainda!</h2>
			<div th:case="*">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>ISBN</th>
							<th>RA</th>
							<th>Data Empréstimo</th>
							<th>Data Devolução</th>
							<th>Data Devolução Prevista</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="emprestimo : ${emprestimos}">
							<td th:text="${emprestimo.id}"></td>
							<td th:text="${emprestimo.isbn}"></td>
							<td th:text="${emprestimo.ra}"></td>
							<td th:text="${emprestimo.dataEmprestimo}"></td>
							<td th:text="${emprestimo.dataDevolucao}"></td>
							<td th:text="${emprestimo.dataDevolucaoPrevista}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-primary" th:href="@{/emprestimos/edit/{isbn}(isbn=${emprestimo.isbn})}">Editar</a>
									<a class="delete btn btn-sm btn-danger" th:href="@{/emprestimos/delete/{id}(id=${emprestimo.id})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a type="submit" class="btn btn-primary float-sm-right" style="margin-top: 5px;"th:href="@{/home/}">Home</a>
</body>
</html>