<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
		<script type="text/javascript" th:src="@{/js/actions.js}"></script>
		<title>SCEL: Cadastrar Livro</title>
	</head>
	<body>
		<nav class="navbar navbar-dark">
			<img th:src="@{/img/NavCPS.png}"/>
			<img th:src="@{/img/NavFatec.png}"/>
			<img th:src="@{/img/NavGoverno.png}"/>
		</nav>
	
		<div class="container my-5">
			<div class="row">
				<div class="col mx-auto borderSCEL p-3">
					<h3 style="color: white; text-align: center;">Livros</h3>
					<br/>
					<div class="colSCEL p-3">
						<a type="button" class="btn btn-primary" th:href="@{/livros/cadastrar}">Cadastrar</a>
						<a type="button" class="btn btn-primary" th:href="@{/livros/consultar}">Consultar</a>
					</div>
				</div>
				<div class="col mx-auto borderSCEL p-3">
					<h3 style="color: white; text-align: center;">Usuários</h3>
					<br/>
					<div class="colSCEL p-3">
						<a type="button" class="btn btn-primary" th:href="@{/usuarios/cadastrar}">Cadastrar</a>
						<a type="button" class="btn btn-primary" th:href="@{/usuarios/consultar}">Consultar</a>
					</div>
				</div>
				<div class="col mx-auto borderSCEL p-3">
					<h3 style="color: white; text-align: center;">Empréstimos</h3>
					<br/>
					<div class="colSCEL p-3">
						<span type="button" class="btn btn-primary mx-auto" th:href="@{/emprestimos/cadastrar}">Registrar</span>
						<span type="button" class="btn btn-primary mx-auto" th:href="@{/emprestimos/consultar}">Consultar</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">Todos os direitos reservados - 2020</div>
	</body>
</html>